* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    135deg,
    rgb(157, 52, 226),
    rgb(235, 97, 173)
  );
}
.box {
  display: flex;
  height: 560px;
  width: 450px;
  padding: 18px;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
  background: white;
  border: 0;
  box-shadow: 6px 6px 20px rgb(77, 77, 77);
}
.box .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px;
}
.box .input-area {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}
.box .heading h2 {
  font-size: 2.2em;
  color: rgb(63, 63, 63);
  user-select: none;
}
.box .heading span img {
  height: 38px;
  width: 38px;
  user-select: none;
}
.box .input-area input {
  width: 100%;
  height: auto;
  padding: 15px 96px 15px 20px;
  font-size: 18px;
  letter-spacing: 0.5px;
  background: rgb(221, 221, 221);
  border-radius: 50px;
  border: 0;
  outline: 0;
  position: relative;
}
.box .input-area button {
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  width: 90px;
  border-radius: 50px;
  border: 0;
  background: rgb(255, 102, 0);
  color: white;
  cursor: pointer;
  transform: translateX(8.6cm);
}
.box .input-area button:active {
  background: rgb(241, 97, 0);
}
.list-container {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  max-width: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
.list-container ul {
  width: 100%;
}
.list-container ul li {
  font-size: 24px;
  padding-bottom: 15px;
  color: rgb(63, 63, 63);
  list-style: none;
  user-select: none;
  max-width: 100%;
  padding-right: 45px;
  position: relative;
}
.list-container ul li::before {
  content: "\2731";
  color: rgba(255, 129, 44, 0.884);
  font-size: 24px;
  padding-right: 8px;
}
ul li.checked {
  color: rgb(219, 219, 219);
}
ul li.checked::before {
  content: "\2714";
  color: rgb(9, 255, 0);
  font-size: 24px;
  padding-right: 10px;
}
ul li span {
  position: absolute;
  right: 0.6em;
  top: 7px;
  font-size: 19px;
  background: rgb(243, 243, 243);
  color: rgb(83, 83, 83);
  padding: 0px 6px;
  border-radius: 50%;
  transition: ease 0.2s;
}
ul li span:hover {
  background: rgb(218, 218, 218);
}
.list-container::-webkit-scrollbar {
  width: 4px;
}
.list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.list-container::-webkit-scrollbar-thumb {
  background: rgba(221, 221, 221);
}
.list-container::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
